@mixin background-img-position {
width: 100%;
height: 100vh;
background-image: url(/assets/img/istockphoto-1135400792-612x612.jpg);    
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}